/*
Theme Name: Elgon México
Author: Merkategia
*/
* { box-sizing: border-box; -webkit-box-sizing: border-box; }
@font-face {
	font-family: 'Bebas Neue';
	src: url("fonts/bebasneueregular.otf") format("opentype");
}
@font-face {
	font-family: 'Bebas Neue';
	src: url("fonts/bebasneuebold.otf") format("opentype");
	font-weight: bold;
}

body {
	margin: 0;	
	font-family: 'Lato', sans-serif;
	color: #000;
	font-size: 100%;
	overflow-x: hidden;
}
.rehilete {
	position: absolute;
	left: 0;
	top: 1445px;
	z-index: 1;
}
.mapirosa-ch {
	position: absolute;
	right: 0;
	top: 1000px;
}
.mapirosa-cat {
	position: absolute;
    left: -350px;
    top: 450px;
	z-index: 1;
}
.mapirosa-dist {
    position: absolute;
    left: -350px;
    top: 550px;
    z-index: -1;
}
.mapirosa-historia {
	position: absolute;
	left: 0;
	top: 1445px;
	z-index: 1000;
}
.block {
	display: block;
	overflow: hidden;
	clear: both;
}
header {
    width: 100%;
    max-width: 1140px;
    margin: 25px auto 0 auto;
    padding: 0 0 15px 0;
    position: relative;
}
.menu-principal-elgon-container {
    float: right;
    margin-top: 40px;
}
.menu {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.menu > li {
	float: left;
	margin: 0;
	padding: 0 15px;
	list-style: none;
	border-left: 1px solid #000;
	position: relative;
}
.menu li:first-child {
	border-left: none;
}
.menu-item a, .realiza h3 {
	font-family: 'Courier New', monospace;
	font-size: 0.875em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #383202;
}
#menu-item-7:hover .submenu, #menu-item-10:hover .dist-submenu {
	visibility: visible;
	opacity: 1.0;
}
.menu-item-7:after, .menu-item-10:after {
	opacity: 0.0;
	transition: .5s;
}
.menu-item-7:hover:after, .menu-item-10:hover:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #f3f3f3;
	transform: rotate(45deg);
	left: 35%;
    bottom: -180%;
    z-index: 999;
    opacity: 1.0;
}
.menu-item-7, .menu-item-10 {
	position: relative;
}
.rrhh {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.75em;
}
.rrhh p {
	margin: 0;
    line-height: 18px;
    vertical-align: middle;
    font-weight: bold;
}

.rrhh ul { width: 100%; margin: 0 auto; padding: 0; }
.rrhh ul li { display: inline-block; }

.session {
	padding: .5em 1em;
	background: #AAA;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
}
#home-slider, .cuenta-container, .fichas-container {
	width: 100%;	
	max-width: 1140px;
	margin: 20px auto;
}
.slide {
	display: block;
	position: relative;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
.slide.current {
	opacity: 1.0;	
}
.img {
	width: 50%;
	height: 425px;
}
.img img {
	height: 100%;
	width: auto;
}
.catdesc {
	width: 60%;
}
.catdesc img {
	float: left;
	margin: 0 15px 0 0;
}
.decolor-img, .man-img, .colorcare-img {
	float: right;
	position: relative;
}
.decolor-desc, .man-desc, .colorcare-desc {
	float: left;
	position: absolute;
	padding: 15px 115px 15px 15px;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);	
}
.haircolor-img, .styling-finishing-img, .haircare-img {
	float: left;
}
.haircolor-desc, .styling-finishing-desc, .haircare-desc, .texturization-desc {
	float: right;
	position: absolute;
	padding: 15px 15px 15px 115px;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);	
}
.haircare-desc, #category-haircare-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#60bfbc 0%,#c2e6e5 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#60bfbc 0%,#c2e6e5 100%);
	border-image: linear-gradient(to right,#60bfbc 0%,#c2e6e5 100%);
	border-image-slice: 1;
}
.colorcare-desc, #category-colorcare-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#0093bd 0%,#d1f5ff 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#0093bd 0%,#d1f5ff 100%);
	border-image: linear-gradient(to right,#0093bd 0%,#d1f5ff 100%);
	border-image-slice: 1;
}
.haircolor-desc, #category-haircolor-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#a83e85 0%,#e8c2dc 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#a83e85 0%,#e8c2dc 100%);
	border-image: linear-gradient(to right,#a83e85 0%,#e8c2dc 100%);
	border-image-slice: 1;
}
.man-desc, #category-man-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#9c2441 0%,#e89cae 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#9c2441 0%,#e89cae 100%);
	border-image: linear-gradient(to right,#9c2441 0%,#e89cae 100%);
	border-image-slice: 1;
}
.decolor-desc ,#category-decolor-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#9f93dc 0%,#484561 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#9f93dc 0%,#484561 100%);
	border-image: linear-gradient(to right,#9f93dc 0%,#484561 100%);
	border-image-slice: 1;
}
.styling-finishing-desc, #category-styling-finishing-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#a53e68 0%,#edcedb 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#a53e68 0%,#edcedb 100%);
	border-image: linear-gradient(to right,#a53e68 0%,#edcedb 100%);
	border-image-slice: 1;
}
.texturization-desc, #category-texturization-desc {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#d93c3d 0%,#efafaf 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#d93c3d 0%,#efafaf 100%);
	border-image: linear-gradient(to right,#d93c3d 0%,#efafaf 100%);
	border-image-slice: 1;
}
#home-slider h2 {
	font-family: 'Bebas Neue';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 6em;
    margin: 0 0 0 30px;
}
#home-slider .decolor-desc h2 {
	background: -webkit-linear-gradient(#9f93dc,#484561);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#home-slider .colorcare-desc h2 {
	background: -webkit-linear-gradient(#0093bd,#d1f5ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#home-slider .haircare-desc h2 {
	background: -webkit-linear-gradient(#60bfbc,#c2e6e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
#home-slider .haircolor-desc h2 {
	background: -webkit-linear-gradient(#a83e85,#e8c2dc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
#home-slider .man-desc h2 {
	background: -webkit-linear-gradient(#9c2441,#e89cae);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
#home-slider .styling-finishing-desc h2 {
	background: -webkit-linear-gradient(#a53e68,#edcedb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 80px;
}
#home-slider .texturization-desc h2 {
	background: -webkit-linear-gradient(#d93c3d,#efafaf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 80px;
}
#home-slider h3 {
	font-family: 'Courier New', monospace;
	font-size: 1.81em;
	text-transform: uppercase;
	letter-spacing: 10px;
    margin: 0 0 -40px 0;
}
/* Lean Slider styles */
#lean-nav {
	max-width: 1140px;
	width: 100%;
	text-align: center;
	margin: auto;
}
#lean-nav a, #nav-dots-destacados a {
	margin: 10px;
	width: 10px;
	height: 10px;
	background: #535d8c;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
#lean-nav a.active, #nav-dots-destacados a.selected {
	opacity: 0.4;
}
/* fin Lean Slider styles */
#intermedio-index {
	width: 100%;
	max-width: 1140px;
	margin: auto;
}
#destacados {
	width: 660px;
	float: left;
}
.carrusel-item {
	width: 200px;
	padding: 10px;
	text-align: center;
	float: left;
	margin: 0 0 10px 0;
	display: block;
}
.carrusel-item p, .subproductoname {
	font-family: 'Courier New', monospace;
	font-weight: bold;
}
.carrusel-item .titulo-destacado {
	color: inherit;
	text-decoration: none;
}
.carrusel-item a.ir, a.irsubproducto {
	font-size: 0.8125em;
	border: 4px solid #535d8c;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #535d8c;
	text-decoration: none;
}
a.irsubproducto:hover {
	text-decoration: underline;
}
h4.destacados-title {
	font-family: 'Courier New', monospace;
	font-size: 1em;
	height: 45px;
	line-height: 45px;
	max-width: 750px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
h4.destacados-title:before {
	content: "";
	position: absolute;
	width: 30px;
	height: 37px;
	border-left: 4px solid #bfbfbf;
	border-top: 4px solid #bfbfbf;
	border-bottom: 4px solid #bfbfbf;
	top: 0;
	left: 30%;
}
h4.destacados-title:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 37px;
	border-right: 4px solid #bfbfbf;
	border-top: 4px solid #bfbfbf;
	border-bottom: 4px solid #bfbfbf;
	top: 0;
	right: 30%;
}
.nav-destacados {
	float: left;
	width: 45px;
	height: 267px;
	position: relative;
	cursor: pointer;
}
#left-destacados:after {
	content: "";
	position: absolute;
	width: 37px;
	height: 37px;
	border-top: 4px solid #bfbfbf;
	border-left: 4px solid #bfbfbf;
	transform: rotate(-45deg);
	top: 35%;
	right: 0;
}
#right-destacados:after {
	content: "";
	position: absolute;
	width: 37px;
	height: 37px;
	border-top: 4px solid #bfbfbf;
	border-right: 4px solid #bfbfbf;
	transform: rotate(45deg);
	top: 35%;
	left: 0;
}
#nav-dots-destacados {
	clear: left;
	float: left;
	width: 750px;
	text-align: center;
}
.intermedio-index-content {
	float: left;
}
.quieres-ser-distribuidor {
	background: url(img/bg-category-header.jpg) repeat;
	margin: 0 20px;
	text-align: center;
	padding-bottom: 15px;
}
.quieres-ser-distribuidor h2 {
	font-size: 1.2em;
	width: 50%;
	text-align: center;
	margin: 30px auto;
	text-transform: uppercase;
	line-height: 1.8em;
}
.quieres-ser-distribuidor h2 span {
	color: #fff;
	background: #000;
	padding: 10px;
	font-family: 'Courier', monospace;
	letter-spacing: 2px;
}
.quieres-ser-distribuidor h2::first-line {
	font-style: italic;
}
.quieres-ser-distribuidor p a {
	border: 4px solid #000;
	padding: 5px 25px 5px 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	margin: 0;
	position: relative;
}
.quieres-ser-distribuidor a:hover {
	text-decoration: underline;
}
.quieres-ser-distribuidor p a:after {
	content: "";
	width: 10px;
	height: 10px;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
	position: absolute;
	transform: rotate(-45deg);
	top: 25%;
	right: 5%;
}
.distribuidores-head h1, .mapa-desc h1, .login-form-container h1, .fichas-container h1 {
	font-style: italic;
	color: #C65C5C;
	text-transform: uppercase;
	letter-spacing: 5px;	
	position: relative;
	padding-bottom: 30px;	
}
.cuenta-container h1 {
	font-style: italic;
	color: #C65C5C;
	text-transform: uppercase;
	letter-spacing: 5px;	
	position: relative;	
}

.distribuidores-head h1:after {
	content: "";
	width: 25%;
	position: absolute;
	height: 100%;
	border-bottom: 3px solid #ff9999;
	left: 0;
	bottom: 0;
}
.distribuidores-head h2, .fichas-container h2 {	
	font-size: 1em;
	color: #666;
	text-transform: uppercase;	
}
.distribuidores-head, .form-dist-head { display: inline-block; width: 30%; vertical-align: top; text-align: right; }
.distribuidores-head { width: 69%; text-align: left; }

.distribuidores-head-content, .distribuidores-head img {
	display: inline-block;
	vertical-align: top;
	width: 39%;
	text-align: left;
}
.distribuidores-head img {
	width: 60%;
	text-align: right;
}
.distribuidores-head p {
	font-size: 0.875em;
	padding: 20px;
	background: url(img/bg-category-header.jpg) repeat;	
}
.distribuidores-head-content {
    width: 33%;
}
.form-dist-head { border: 10px solid #eaeaea; width: 25%; margin: 0 1.5%;}

.mapa-dist, .mapa-desc {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}
.mapa-desc {
	padding-left: 40px;
	width: 60%;
}
.mapa-desc h1 {
	width: 50%;
}
.mapa-desc p {
	color: #a0a0a0;
	padding-left: 100px;
	margin: 0 auto;
	font-style: italic;
	font-size: 0.815em;
}
footer {
	width: 100%;
	max-width: 1140px;
	margin: 15px auto;
	background: #fff url('img/bg-general.png') no-repeat 0 100%;
}
footer a { text-decoration: none; }
.call-to-newsletter {
	color: #4d5d8e;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	background: url(img/newsletter.png) center right no-repeat;
	height: 50px;
	padding-right: 60px;
	line-height: 50px;
}
.index-final {
	max-width: 1140px;
	width: 100%;
	margin: 30px auto;	
    background: url(img/index/pink-dot.png) no-repeat 15% 30%;
    padding: 35px 0;
}
.index-final img {
	width: 100%;
	height: auto;
	position: relative;
}
.video {
	float: left;
	width: 27%;
	margin: 0 3%;
}
.img-video {
	position: relative;
	margin: 20px 0;
}
.video .img-video:after {
	content: url(img/index/video_icon.png);
	position: absolute;
	bottom: -30px;
	right: -15px;
	z-index: 1;
}
.index-final h2 {
	font-family: 'Courier', monospace;
	font-size: 1.8125em;
	text-transform: uppercase;
	width: 170px;
	float: right;
	letter-spacing: 5px;
	position: relative;
	padding: 30px;
}
.index-final h2:after {
	content: "";
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	border-image: linear-gradient(to right,#eeccb9 0%,#c65c5c 100%);
	border-image-slice: 1;
	position: absolute;
	width: 150%;
	height: 150%;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.index-final h3, .fichas-container h3 {
	font-family: 'Courier', monospace;
	font-size: 1.125em;
	text-transform: uppercase;	
	letter-spacing: 5px;
	position: relative;
	width: 100px;
	padding: 15px 0;
}
.index-final h3:after {
	content: "";
	width: 50%;
	height: 100%;
	border-top: 4px solid #535d8c;
	position: absolute;
	top: 0;
	left: 0;
}
/* category-productos style */
.producto-head {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    background: url('img/bg-category-header.jpg') no-repeat 0 50%;
    position: relative;
}
.single-producto-head, .single-blog-head {
	width: 100%;
	max-width: 1140px;
	margin: auto;	
	position: relative;	
}
.single-post {
	width: 70%;
    float: left;
    padding: 0 5% 0 0;
}
.category-single-desc {
	float: left;
}
.category-single-img {
	text-align: right;
	float: right,
	width: 47.5%;
	margin: 1.25%;
}
.category-single-desc {
	position: absolute;
	padding: 30px 145px 30px 45px;
	left: 70px;
	top: 50%;
	transform: translate(0,-50%);	
}
.producto-head h2 {
	font-size: 1.8125em;
	font-family: 'Courier New', monospace;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: relative;
	padding: 10px 0;
	margin: 10px 0;
}
.producto-head h2:after {
	content: "";
	border-bottom: 4px solid #7c7c7c;
	width: 75px;
	position: absolute;
	left: 0;
	bottom: 0;	
}
.producto-head p {
	color: #7c7c7c;
	max-width: 295px;
}
/* fin category-productos style */
/* submenu productos */
.submenu {
	width: 1140px;
	margin: auto;
	padding: 20px 0;
    position: absolute;
    visibility: hidden;
    z-index: 999;
    left: -585px;
    opacity: 0.0;
    transition: .5s;
}
.dist-submenu {
	margin: auto;
    padding: 20px 0;
    position: absolute;
    visibility: hidden;
    z-index: 999;
    right: 0;
    opacity: 0.0;
    transition: .5s;
}
#products-submenu {	
	width: 100%;
	margin: auto;
    padding: 10px 0;
	background: #f3f3f3;
	box-shadow: 0 3px 5px #414141;
}
#products-submenu li {
	float: left;
	width: 18%;
	padding: 10px 1%;
	list-style: none;
	text-align: center;
}
#products-submenu li img {
	height: 150px;
	width: auto;
}
#dist-submenu-list {
	float: left;	
	padding: 10px 1%;
	list-style: none;
	text-align: center;
	width: 823px;
	margin: auto;
	padding: 10px 0;
	background: #f3f3f3;
	box-shadow: 0 3px 5px #414141;	
}
#dist-submenu-list li {
	float: left;
	padding: 10px 35px;
}
#dist-submenu-list li:first-child {
	border-right: 1px solid #999;
}
#dist-submenu-list a {
	opacity: 1.0;
	transition: .2s opacity;
}
#dist-submenu-list a:hover {
	opacity: 0.5;
}
#products-submenu h4 {
	font-size: 1em;
	font-family: 'Courier New', monospace;
	margin: 0.35em 0;
	position: relative;
	padding-bottom: 10px;
}
#products-submenu h4:after {
	content: "";
	position: absolute;
	width: 80px;
	border-bottom: 4px solid #c65c5c;
	bottom: 0;
	left: 30%;	
}
#products-submenu p, .producto-info h2 {
	font-size: 0.875em;
	text-transform: uppercase;
    color: #c65c5c;
}
#products-submenu a {
	text-decoration: none;
	transition: opacity .5s;
}
#products-submenu a:hover {
	opacity: 0.5;
}
/* fin submenu productos */
.subproductos {
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
}
.subproductos ul {
	margin: 0 auto;
	padding: 0;	
}
.subproducto-item {
	float: left;
	list-style: none;
	width: 240px;
	padding: 10px;
	text-align: center;
}
.subproducto-item img {
	height: 215px;
	width: auto;
	transition: opacity .5s;
}
.subproducto-item a:hover img {
	opacity: .5;	
}
/* historia */
.historia-main, .historia-second, .historia-third, .historia-fourth {
	width: 100%;
	max-width: 1140px;
	clear: both;
	margin: 35px auto;
}
.historia-main > div {
	margin: 40px auto;
}
.historia-main p, .historia-second p {
	color: #b3b3b3;
	font-size: 0.875em:;
}
.historia-main h2, .historia-third h2, .historia-fourth h2, .historia-video h2 {
	font-size: 1.8125em;
	font-family: 'Courier New', monospace;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: relative;
	padding: 10px 0;
	margin: 10px 0;
}
.historia-video h2 {
	color: #000;
	font-size: 1.6em;
	font-family: 'Courier New', monospace;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 10px;
	bottom: 5px;
}
.historia-third h2, .historia-fourth h2 {
	color: #ff9999;
}
h2.llamadopink {
	font-size: 1.4em;
	font-family: 'Courier New', monospace;
	font-style: italic;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: relative;	
	color: #ff9999;
}
.pinkbracket {
    padding: 35px 10px;
    margin: 10px 0;
}
.pinkbracket:after {
	content: "";
	width: 10%;
	height: 100%;
	position: absolute;
	border-right: 5px solid #ff9999;
	border-top: 5px solid #ff9999;
	border-bottom: 5px solid #ff9999;
	top: 0;
	right: 0;
}
.historia-main h3 {
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;	
	text-transform: uppercase;
	color: #ff9999;
}
.historia-third h3, .listado-etapas h3 {
	font-size: 1.18em;
	font-family: 'Courier New', monospace;
	letter-spacing: 10px;
	text-transform: uppercase;
	position: relative;
	padding: 10px 0;
	margin: 10px 0;	
}
.listado-etapas h3 a {
	color: #000;
}
.historia-elgon {
	float: right;
	width: 30%;
    padding: 0 5% 0 5%;
}
.historia-mexico {
	float: left;
    width: 40%;
    padding: 0 5% 0 5%;
    margin: 50px 0;
}
.historia-grita {
	float: right;
	width: 45%;
	padding: 0 0 0 5%;
}
.historia-valores {
	float: right;
	width: 30%;
	padding: 0 0 0 5%;	
}
.titular-filosofia {
	font-size: 1.8125em;
    font-family: 'Courier New', monospace;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 10px 0;    
    width: 425px;
    padding: 5% 10%;
    color: #ff9999;
    position: absolute;
}
.titular-filosofia:after {
	content: "";
	width: 50%;
	height: 125%;
	position: absolute;
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	border-image: linear-gradient(to right,#eeccb9 0%,#c65c5c 100%);
	border-image-slice: 1;
	top: -45%;
	left: 10%;
}
.filosofia {	
	float: right;
	width: 50%;
    padding: 1.5% 5% 1.5% 10%;
	background: url(img/bg-category-header.jpg) repeat;
}
.historia-img {
	float: left;
	position: relative;
}
.historia-video {
	position: absolute;
	width: 160px;
	height: 100%;
	border: 10px solid transparent;
	top: 20%;
	right: 13%;
	-moz-border-image: -moz-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	border-image: linear-gradient(to right,#eeccb9 0%,#c65c5c 100%);
	border-image-slice: 1;
	z-index: 1;
}
.historia-video h2:after {
    content: url(img/ver-video.png);
    position: absolute;
    top: -15px;
    right: 25px;
}
.grita-head {
	width: 100%;
	position: relative;
}
.grita-head h2 {
	position: absolute;
	top: 35%;
	width: 75%;
	right: 0;
	text-align: right;
	padding: 10px 0;
	margin: 10px 0;
}
.valores-block {
	position: relative;
    padding: 10px 20px 10px 0;
	z-index: 999;
}
.valores-block:after {
	content: "";
	background: #eeccb9;
	top: 0;
	right: 0;
	width: 140%;
	height: 100%;
	position: absolute;
    z-index: -1;
}
.filosofia > ul {
	padding: 0;
	list-style: none;
}
.filosofia > ul > li {
	border-bottom: 1px solid #000;
	background: url(img/triangle.png) no-repeat 100% 0%;
    padding: 0 30px 10px 0;
    margin: 15px 0;
    cursor: pointer;
}
.filosofia > ul > li:hover > ul {
	height: auto;
	opacity: 1.0;
}
.filosofia > ul > li > ul {
    padding: 0;
    list-style: none;
    height: 0;
    opacity: 0;
    transition: all .5s;    
}
/* fin historia */
/* producto single */
.single-producto-head { box-sizing: border-box; width: 100%; margin: 0 auto; text-align: center; }
.single-productos-list, .imagen-producto, .producto-info, .product-form { display: inline-block; vertical-align: top; }
.single-productos-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 18%;
	padding-right: 10px;
	text-align: left;
}
.single-productos-list li {
	padding: 5px;
	background: #efefef;
	margin: 5px 0;
	font-weight: bold;
}
.single-productos-list li:hover {
	background: #a5a5a5;
}
.single-productos-list a {
	color: #b3b3b3;
	text-decoration: none;
}
.single-productos-list li:hover a {
	color: #fff;
}
.imagen-producto {
	width: 29%;
	padding: 0 1%;
	text-align: center;
}
.imagen-producto img {
	max-width: 90%;
	max-height: 450px;
	width: auto;
	height: auto;
}
.producto-info {
	width: 20%;
	padding: 0 1%;
	text-align: left;
}
.product-form {
	border: 5px solid #e5e4e5;
	width: 22%;
	padding: 0 1%;
	background: url('img/bg-category-header.jpg') repeat;
	text-align: left;
}
.product-form form {
	text-align: center;
}
.product-form .campos {
	background: #fff;
	border: 2px solid #F2F2F2;
	color: #535d8c;
	font-family: 'Lato', verdana, helvetica, sans-serif;
	font-size: 12px;
	margin: 5px auto;
	padding: 10px 5px;
	width: 85%;
}
.product-form .btn-enviar, .button-primary, .wpcf7-submit, .btn-enviar-eval { 
	background: #9f93dc; /* Old browsers */
	background: -moz-linear-gradient(left,  #9f93dc 0%, #484561 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9f93dc 0%,#484561 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9f93dc 0%,#484561 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f93dc', endColorstr='#484561',GradientType=1 ); /* IE6-9 */
	color: #FFF; cursor: pointer; display: block; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; font-weight: 700; padding: 10px; text-align: center; width: 100%;
	width: 90%;
    margin: 10px auto;
    border: 0;
}	
.producto-info h1, .distribuidores-head h1, .mapa-desc h1, .login-form-container h1, .cuenta-container h1, .fichas-container h1 {
	font-size: 1.25em;
	font-family: 'Courier New', monospace;
}
.product-form h3 {
	color: #C65C5C;
	font-family: courier, times, serif;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 4px;
	width: 85%;
	margin: 1em auto;
	background: url(img/elgon-distribuidores-separador-form.jpg) no-repeat 0 100%;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.producto-info ul {
	padding: 0;
	list-style: none;
	margin: 20px 0;
}
.producto-info ul li, .fichas-container li {
	padding: 0 0 0 20px;
	background: url(img/bullet.png) no-repeat 0 5px;
	margin: 10px 0;
}
.breadcrumbs {
	margin: 10px auto;	
	width: 100%;
	background: #efefef;
	padding: 10px 0;
	font-family: 'Courier', monospace;
	text-transform: uppercase;
}
.breadcrumbs a {
	color: #383202;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumb {
	width: 1140px;
	margin: auto;
}
/* producto single */
/* distribuidores by cute */
.contenedor-top, .contenedor-beneficios, .contenedor-requisitos { display: block; margin: 0 auto; max-width: 1140px; width: 100%; }
.contenedor-top { background: url('img/elgon-distribuidores-top-right-bg.jpg') right top no-repeat;  margin-bottom: 40px; position: relative; }
.dist-top-left { background: url('img/elgon-distribuidores-top-bg.png') left center no-repeat; padding: 20px 0 20px 100px; }
.dist-top-left img { width: 100%; }
.dist-top-right { padding: 0 50px; padding-left: 33%; position: absolute; /*width: 100%;*/ z-index: 10; top: 100px; }
.dist-top-right h2 { color: #C65C5C; font-family: courier, times, serif; font-size: 28px; font-style: italic; letter-spacing: 8px; }
.cont-top-right img, .txt-cont-top-right { display: inline-block; width: 49%; vertical-align: middle; }
.cont-top-right img { max-width: 350px; margin: 0 auto; }
.dist-top-left img { max-width: 400px; }
.txt-cont-top-right { width: 50%; }
.txt-cont-top-right h3 { color: #666; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 18px; margin-bottom: 10px; }
.txt-cont-top-right p { color: #666; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; margin-top: 10px; }
.txt-cont-top-right img { max-width: 80px; }

.contenedor-beneficios { margin-bottom: 40px; padding: 0 50px; }
.dist-beneficios-left, .dist-beneficios-right { display: inline-block; vertical-align: top; /*width: 40%;*/ }
.dist-beneficios-left { background: url('img/elgon-distribuidores-beneficios-bg.jpg') left top no-repeat; margin-top: 40px; }
.dist-beneficios-left h2 { color: #111; font-family: courier, times, serif; font-size: 28px; letter-spacing: 8px; margin-bottom: 30px; padding: 30px 45px; padding-right: 10px; }
.dist-beneficios-left img { max-width: 400px; width: 100%; }
.dist-beneficios-right { padding-left: 20px; width: 59%; }
.dist-beneficios-right ul { background: #F2F2F2; padding: 20px 40px; }
.dist-beneficios-right ul li { background: url('img/elgon-distribuidores-beneficios-indicador.png') left center no-repeat; padding-left: 60px; list-style-type: none; margin: 24px 0; }
.dist-beneficios-right ul li h3 { color: #111; font-family: courier, times, serif; font-size: 20px; letter-spacing: 8px; margin-bottom: 10px; }
.dist-beneficios-right ul li p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; }

.contenedor-requisitos { margin-bottom: 40px; margin-top: -120px; padding: 0 50px 0 120px; }
.dist-requisitos-left, .dist-requisitos-right { display: inline-block; vertical-align: bottom; width: 40%; }
.dist-requisitos-left { background: url('img/elgon-distribuidores-requisitos-bg.jpg') left top no-repeat; background-size: contain; margin-top: 40px;  }
.dist-requisitos-left h2 { color: #111; font-family: courier, times, serif; font-size: 28px; letter-spacing: 8px; margin-bottom: 30px; padding: 40px 45px; padding-right: 10px; }
.dist-requisitos-left ul { margin-bottom: 40px; padding-left: 45px; padding-bottom: 10px; }
.dist-requisitos-left li { display: inline-block; list-style-type: none; text-align: center; vertical-align: top; width: 30%; }
.dist-requisitos-left li img { max-width: 80px; }
.dist-requisitos-left li p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; }
.dist-requisitos-right { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeccb9+0,c65c5c+100 */
background: #eeccb9; /* Old browsers */
background: -moz-linear-gradient(left,  #eeccb9 0%, #c65c5c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #eeccb9 0%,#c65c5c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #eeccb9 0%,#c65c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeccb9', endColorstr='#c65c5c',GradientType=1 ); /* IE6-9 */
padding: 8px; /*width: 59%;*/ }
.dist-form { background: #FFF; padding: 30px; }
.dist-form p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; margin-bottom: 10px; }
.dist-form img { max-width: 109px; }
.dist-form form { margin-top: 10px; }
.dist-form .campos { background: #F2F2F2; border: 2px solid #F2F2F2; color: #535D8C; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 12px; margin: 5px 0; padding: 12px 10px; width: 95%; }
.dist-form .campos:focus, .product-form .campos:focus { outline: 0; border: 2px solid #F2F2F2; }
.dist-form .btn-enviar { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f93dc+0,484561+100 */
background: #9f93dc; /* Old browsers */
background: -moz-linear-gradient(left,  #9f93dc 0%, #484561 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #9f93dc 0%,#484561 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #9f93dc 0%,#484561 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f93dc', endColorstr='#484561',GradientType=1 ); /* IE6-9 */
color: #FFF; cursor: pointer; display: block; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; font-weight: 700; padding: 10px; text-align: center; width: 100%;
border: 0;
}
.dist-form .btn-enviar:hover { background: #535D8C; }
/* distribuidores by cute */
/* contacto by cute */
.contenedor-contacto { margin: 0 auto; max-width: 900px; text-align: center; width: 100%; }
.contacto-img, .contacto-txt { display: inline-block; vertical-align: middle; width: 49%; }
.contacto-img img { max-width: 440px; }
.contacto-txt { border: 10px solid transparent;
       -moz-border-image: -moz-linear-gradient(left,#eeccb9 0%, #c65c5c 100%);
       -webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%, #c65c5c 100%);
       border-image: linear-gradient(to right,#eeccb9 0%, #c65c5c 100%);
       border-image-slice: 1; margin-left: -50px; width: 50%; }
.cont-form { padding: 20px 80px; /*width: 100%;*/ position: relative; text-align: left; }
.cont-form img { max-width: 109px; }
.img-sobre { position: absolute; top: 10px; right: 10px; }
.img-sobre img { max-width: 60px; }
.cont-form h3 { color: #C65C5C; font-family: courier, times, serif; font-size: 18px; font-weight: bolder; letter-spacing: 4px; }
.cont-form p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; margin: 10px 0; }
.cont-form .campos { background: #F2F2F2; border: 2px solid #F2F2F2; color: #535D8C; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 12px; margin: 5px 0; padding: 12px 10px; width: 100%; }
.cont-form .campos:focus { outline: 0; border: 2px solid #F2F2F2; }
.cont-form .btn-enviar-cont { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f93dc+0,484561+100 */
background: #9f93dc; /* Old browsers */
background: -moz-linear-gradient(left,  #9f93dc 0%, #484561 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #9f93dc 0%,#484561 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #9f93dc 0%,#484561 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f93dc', endColorstr='#484561',GradientType=1 ); /* IE6-9 */
color: #FFF; cursor: pointer; display: block; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; font-weight: 700; padding: 10px; text-align: center; width: 100%;
border: 0;
}
.cont-form .btn-enviar-cont:hover { background: #535D8C; }
/* fin contacto by cute */
/* blog by cute */ 
.contenedor-desarrollo, .contenedor-distribuidores { margin: 30px auto; max-width: 1140px; width: 100%; }
.desarrollo-der, .desarrollo-contacto/*, .encuentra-contacto*/ { display: inline-block; vertical-align: middle; text-align: left; }
.desarrollo-der { background: url('img/elgon-desarrollo-top-bg.jpg') center left no-repeat; background-size: contain; padding: 20px; width: 60%;}
.desarrollo-contacto { border: 10px solid #eaeaea; width: 34%; }

.desarrollo-der img { width: 100%; }
.desarrollo-articulos h3 {
	color: #C65C5C; font-family: courier, times, serif; font-size: 15px; font-weight: bolder; text-decoration: none;
}
.txt-blog, .titulo-blog { display: inline-block; vertical-align: middle; width: 49%; }
.txt-blog h3 { color: #C65C5C; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 16px; width: 90%; }
.txt-blog p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; width: 90%; }
.titulo-blog { background: #FFF url('img/elgon-desarrollo-ttl-blog-bg.jpg') center right no-repeat; background-size: contain; text-align: right; }
.titulo-blog h2 { color: #111; font-family: courier, times, serif; font-size: 32px; padding: 100px 60px; text-align: left; }

.desar-form { padding: 20px; text-align: left; position: relative; }
.desar-form img { max-width: 109px; }
.img-sobre { position: absolute; top: 10px; right: 10px; }
.img-sobre img { max-width: 60px; }
.desar-form h3 { color: #C65C5C; font-family: courier, times, serif; font-size: 18px; font-weight: bolder; letter-spacing: 4px; }
.desar-form p { color: #515151; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; margin: 10px 0; }
.desar-form .campos, .login-form-container input[type=text], .login-form-container input[type=password] { background: #F2F2F2; border: 2px solid #F2F2F2; color: #535D8C; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 12px; margin: 5px 0; padding: 12px 2.5%; width: 95%; }
.desar-form .campos:focus { outline: 0; border: 2px solid #F2F2F2; }
.desar-form .btn-enviar-cont { 
background: #9f93dc; 
background: -moz-linear-gradient(left,  #9f93dc 0%, #484561 100%);
background: -webkit-linear-gradient(left,  #9f93dc 0%,#484561 100%); 
background: linear-gradient(to right,  #9f93dc 0%,#484561 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f93dc', endColorstr='#484561',GradientType=1 );
color: #FFF; cursor: pointer; display: block; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; font-weight: 700; padding: 10px; text-align: center; width: 100%;
border: 0;}
.desar-form .btn-enviar-cont:hover { background: #535D8C; }

.desarrollo-articulos { margin: 0 auto; max-width: 1140px; text-align: center; width: 100%;}
.desarrollo-articulos ul { margin: 0 auto; width: 100%; padding: 0;}
.cont-articulo { float: left; width: 30%; padding: 10px; margin: 0 10px; text-align: center; list-style: none; /*min-height: 300px;*/ }
.cont-articulo p { color: #111; font-family: courier, times, serif; font-size: 15px; font-weight: bolder; padding: 10px; margin: 10px 0; }
.cont-articulo img { width: auto; height: 220px; }
.cont-articulo a { border-top: 2px solid #C65C5C; border-bottom: 2px solid #FFF; color: #C65C5C; font-family: courier, times, serif; font-size: 15px; font-weight: bolder; text-decoration: none; padding: 10px; }
.cont-articulo a:hover { border-bottom: 2px solid #C65C5C; border-top: 2px solid #FFF; }

.desarrollo-articulos-dos { margin: 0 auto; max-width: 1140px; text-align: center; width: 100%; }
.cont-articulo-dos { float: left; width: 33%; padding: 10px; margin: 10px 0; text-align: center; }
.cont-articulo-dos p { color: #C65C5C; font-family: courier, times, serif; font-size: 15px; font-weight: bolder; padding: 10px; }
.cont-articulo-dos p:nth-child(3) { color: #111;  font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px font-weight: bolder; padding: 10px; margin: 10px 0; }
.cont-articulo-dos a { border-top: 2px solid #C65C5C; border-bottom: 2px solid #FFF; color: #111; font-family: courier, times, serif; font-size: 15px; font-weight: bolder; text-decoration: none; padding: 10px; }
.cont-articulo-dos a:hover { border-bottom: 2px solid #C65C5C; border-top: 2px solid #FFF; }
/* fin blog by cute */
/* login form */ 
.login-form-container {
	width: 350px;
	margin: 30px auto;
	padding: 35px;
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	border-image: linear-gradient(to right,#eeccb9 0%,#c65c5c 100%);
	border-image-slice: 1;
}
.login-form-container label {
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	color: #aaa;
	font-size: 0.85em;
}
/* fin de login form */
/* cuenta de usuario */
.cuenta-container > img, .cuenta-container > div {
	float: left;
}
.cuenta-container > div {
	margin: 25px;
    position: relative;
    padding: 50px;
    width: 30%;
}
.cuenta-container > div:after {
	content: "";
	position: absolute;
	width: 115%;
	height: 100%;
	top: 0;
	right: 0;
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	-webkit-border-image: -webkit-linear-gradient(left,#eeccb9 0%,#c65c5c 100%);
	border-image: linear-gradient(to right,#eeccb9 0%,#c65c5c 100%);
	border-image-slice: 1;
}
p.user-name {
	text-transform: uppercase;
	font-weight: bold;
	color: #aaa;
	font-size: 0.85em;
	padding-bottom: 15px;
	position: relative;
}
p.user-name:after, .listado-etapas h3:after {
	content: "";
	position: absolute;
	width: 10%;
	height: 100%;
	border-bottom: 4px solid #ff9999;
	left: 0;
	bottom: 0;
}
.realiza {
	max-width: 1140px;
	width: 100%;
	margin: 30px auto;
}
.realiza li {
	float: left;
	text-align: center;
	width: 33%;
	list-style: none;
}
.realiza li a {
	text-decoration: none;
	color: #383202;
	opacity: 1.0;
	transition: .25s opacity;
}
.realiza li a:hover {
	opacity: 0.5;
}
.ficha-tecnica {
	font-size: 0.85em;
    text-transform: uppercase;
    font-weight: bold;
    color: #c65c5c;
    text-decoration: none;
    border: 2px solid #c65c5c;
    padding: 5px 5px 5px 30px;
    background: url('img/descargar-ficha.png') no-repeat 5px 50%;
}
.list-ficha-tecnica {
	width: 22%;
	float: left;
	margin: 0 3% 0 0;
}
.fichas-container ul {
	padding: 0;
}
.fichas-container li {
	list-style: none;
	font-size: 0.875em;
}
.fichas-container li a, .close-session {
	color: #000;
}
.fichas-container li a:hover, .close-session:hover {
	color: #c65c5c;
}
.pedido {
	float: left;
}
.pedido + img {
	float: right;
}
.menu-icon {
	height: 55px;
	width: auto;
	margin: 0 0 0 25px;
	display: none;
	float: right;
}
#menu-resp {
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: -999;
	opacity: 0.0;
	transition: all .5s;
}
#menu-resp:target {
	opacity: 1.0;
	z-index: 999;
}
.menu-resp-list {
	background: rgba(255,255,255,0.85);
	margin: 0;
	padding: 0;
	margin: auto;
	display: table;
	width: 100%;
}
.menu-resp-list li {
	list-style: none;
	padding: 15px 10px;
	text-align: center;
	font-family: 'Courier', monospace;
	border-bottom: 1px solid #1d1d1d;
	font-weight: bold;
	text-transform: uppercase;
}
.menu-resp-list li a {
	color: #000;
	text-decoration: none;
}
a.cerrar { top: 60px; right: 10px; border: 2px solid #111; color: #111; position: absolute; font-size: 20px; padding: 5px 12px; border-radius: 50%; font-weight: bold; text-decoration: none;  }
.submenu-resp li, .dist-submenu-resp li {
	border: none;
	font-weight: normal;
	text-transform: none;
}
.submenu-resp ul, .dist-submenu-resp ul {
	margin: 0;
	padding: 0;
}
.campo-hid {
	display: none;
}
/* cuenta de usuario */
.msg-error {
    font-size: .85em;
    margin: 15px;
    padding: 5px 10px;
    color: #fff !important;
    background: rgba(198,92,92,0.75);
    border-radius: 5px;
}
.msg {
    font-size: .85em;
    margin: 15px;
    padding: 5px 10px;
    color: #fff !important;    
    background: rgba(0,90,0,0.75);
    border-radius: 5px;
}
/*
from: #99ffff;
to: #e8c2dc;
*/
/* evaluaciones */
.listado-etapas, .listado-evaluacion {
	max-width: 1140px;
	width: 100%;
	margin: 30px auto;
}
.listado-etapas {
	padding: 0;
}
.listado-etapas li {
	list-style: none;
	padding: 15px 1%;
	margin: 15px 1%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	float: left;
	width: 100%;
}
.listado-evaluacion {
	list-style-type: decimal;
}
.btn-enviar-eval { 
	background: #9f93dc; /* Old browsers */
	background: -moz-linear-gradient(left,  #9f93dc 0%, #484561 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9f93dc 0%,#484561 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9f93dc 0%,#484561 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f93dc', endColorstr='#484561',GradientType=1 ); /* IE6-9 */
	color: #FFF; cursor: pointer; display: block; font-family: 'Lato', verdana, helvetica, sans-serif; font-size: 14px; font-weight: 700; padding: 10px; text-align: center; width: 100%;	
    margin: 10px auto;
    border: 0;
    text-transform: uppercase;
}
h3.correcta {
    color: #008000;
    padding-right: 33px;
    background: url(img/correcta.png) no-repeat right 50%;
    display: inline-block;
}
h3.incorrecta {
	color: #670000;
	padding-right: 33px;
    background: url(img/incorrecta.png) no-repeat right 50%;
    display: inline-block;
}
.correcta {
	color: #008000;
}
.incorrecta {
	color: #670000;
}
.etapa-unactive {
	position: relative;
}
.etapa-unactive:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 1;
}
.responde-ahora {
	text-transform: uppercase;	
	background: #c65c5c;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 0.85em;
}
.responde-ahora:hover {
	text-decoration: underline;
}
.eval-doc {
	width: 225px;
	float: left;
	display: inline-block;
	overflow: hidden;
	margin-right: 25px;	
}
.eval-cont {
	float: left;
	display: inline-block;
	overflow: hidden;
}
.desc-guia {
	font-size: 1em;
	font-family: 'courier', monospace;	
	font-style: italic;
	color: #C65C5C;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: relative;
	text-align: center;
    background: url(img/descargar-documento.png) no-repeat top center;
    padding-top: 60px;
}
.desc-guia a {
	color: #000;
	text-decoration: none;
}
.desc-guia a:hover {
	text-decoration: underline;
}
/* evaluaciones */
@media screen and (max-width: 1040px) {
	.mapirosa-ch, .mapirosa-cat, .mapirosa-dist, .mapirosa-historia, .rehilete { display: none;}
	.contenedor-requisitos { margin-bottom: 40px; margin-top: 0; padding: 0 50px; }
	.quieres-ser-distribuidor { width: 100%; }
	.intermedio-index-content {width: 100%;}
	.carrusel-resp { display: block; clear: both; overflow: hidden; margin: auto; width: 750px;}
	.menu-item-7 .submenu { width: 799px; left: -350px; }
	.single-producto-head, .single-blog-head, .breadcrumb, header { width: 95%;}
	.imagen-producto {width: 28%;}
	.historia-main > div { margin: auto; width: 95%;}
	.historia-img {text-align: center;}
	.historia-elgon { float: none; width: 90%;clear: both;}
	.historia-grita {float: left;width: 46%;padding: 0 5%;}
	.historia-mexico {width: 40%;padding: 0 2% 0 2%;}
	.historia-third img {width: 45%;height: auto;margin: 0 2.5%;}
	.historia-valores {width: 40%;height: auto;margin: 0 2.5%;}
	.desarrollo-contacto {display: none;}
	.cont-articulo { overflow: hidden; }
	.distribuidores-head {width: 85%;float: none;margin: auto;}
	/*.encuentra-contacto {display: none;}*/
	.mapa-resp {
		display: block;
		clear: both;
		overflow: hidden;
		text-align: center;
	}
	.mapa-resp .mapa-desc {
		float: none;
		margin: auto;
		text-align: left;
	}
	.mapa-resp img {
		float: none;
	}
	.contenedor-distribuidores {
		display: block;
		clear: both;
		overflow: hidden;
	}
	#home-slider {
		width: 95%;
	}
	.dist-beneficios-left, .dist-beneficios-right, .dist-requisitos-left, .dist-requisitos-right {
		float: none;
		margin: auto;
		display: block;
	}
	.dist-beneficios-left {
		width: 40%;
	}
	#products-submenu li {
	    width: 31%;	    
	}
	.catdesc {
		width: 55%;
	}
	.rrhh { margin: 20px auto 0 auto; position: static; text-align: center; }
}

@media screen and (max-width: 900px) {
	.contenedor-top { position: static; }
	.dist-top-left { padding: 20px 0 20px 100px; }
	.dist-top-right { margin-top: 20px;padding: 0 20px; position: static; width: 100%; }

	.contenedor-beneficios { margin-bottom: 40px; padding: 0 10px; }
	.dist-beneficios-left, .dist-beneficios-right { display: block; width: 100%; }
	
	.dist-beneficios-left { margin-bottom: 20px; }
	.dist-beneficios-right { padding-left: 0; width: 100%; }

	.contenedor-requisitos { padding: 0 10px; }
	.dist-requisitos-left, .dist-requisitos-right { display: block; width: 100%; }
	.dist-requisitos-left { margin-top: 20px;  }

	.contenedor-contacto { margin: 0 auto; max-width: 900px; text-align: center; width: 100%; }
	.contacto-img, .contacto-txt { display: block; width: 100%; }
	.contacto-img { display: none; }
	.contacto-txt { margin-left: 0; }
	.cont-form { padding: 20px 20px; }

	.desarrollo-der, .desarrollo-contacto { display: block; width: 100%; }
	.desarrollo-contacto { margin: 40px 0; }
	.cont-articulo, .cont-articulo-dos { width: 50%; }

	.category-single-img img { width: 100%; }
	.category-single-img, .category-single-desc { float: none; width: 90%; margin: 0 auto; }
	.category-single-desc { position: static; padding: 15px; left: 0; top: 0; transform: translate(0,0); margin: 30px auto; }
	.producto-head p { width: 100%; }

	.subproducto-item { float: none; margin: 0 auto; }

	.single-productos-list, .imagen-producto, .producto-info { width: 30%; }
	.product-form { margin: 20px auto 0 auto; width: 50%; }
}
@media screen and (max-width: 980px) {
	.menu-principal-elgon-container {
		display: none;
	}
	.menu-icon {
		display: inline-block;
	}
	footer { margin: 0 auto; text-align: center; }

	.distribuidores-head { display: block; width: 90%; margin: 0 auto; }
	.form-dist-head { display: block; width: 90%; margin: 0 auto; }
}
@media screen and (max-width: 750px) {
	.slide .img img { display: none; }
	.catdesc { width: 85%; margin: 0 auto; }
	.decolor-desc, .man-desc, .colorcare-desc, .haircolor-desc, .styling-finishing-desc, .haircare-desc, .texturization-desc { float: none; position: absolute; padding: 15px; }
	.intermedio-index-content { display: none; }
	.quieres-ser-distribuidor { display: block; }
	.index-final-block { text-align: center; }
	.video { width: 85%; margin: 0 auto; text-align: center; }
	.img-video:after { position: static; }

	.mapa-dist, .mapa-desc { display:block; margin: 0 auto; width: 90%; padding: 0; }

	.distribuidores-head-content, .distribuidores-head img { display: block; margin: 0 auto;width: 90%; text-align: center; }
.distribuidores-head img { padding-bottom: 20px; width: 100%; }
}

@media screen and (max-width: 580px) {
	.rrhh { margin-top: 40px; }
	.rrhh ul li { display: block; margin: 10px 0; }

	#home-slider h2 { font-size: 3em; }

	.cont-top-right img, .txt-cont-top-right { display: block; width: 100%; }

	.dist-beneficios-right ul { padding: 20px 10px; }

	.txt-blog, .titulo-blog { display: block; margin: 20px 0; width: 100%; }
	.cont-articulo, .cont-articulo-dos { width: 100%; }
	.logo-elgon { height: 25px; width: auto; }

	#category-man-desc { border: 0; }
	.category-single-desc{ margin: 0 auto; }

	.single-productos-list { text-align: center; }
	.single-productos-list, .imagen-producto, .producto-info, .product-form { margin: 0 auto; width: 90%; }

	.mapa-desc h1 { width: 100%; }
	.mapa-desc p { padding-left: 60px; }
}
@media screen and (max-width: 380px) {
	.catdesc img { display: none; }
	.decolor-desc, .man-desc, .colorcare-desc, .haircolor-desc, .styling-finishing-desc, .haircare-desc, .texturization-desc {
	border: 0; }

	.quieres-ser-distribuidor h2 { width: 90%; }
	.quieres-ser-distribuidor img { width: 100%; }

	.dist-top-right h2 { font-size: 28px; letter-spacing: 4px; }

	.dist-beneficios-right ul li h3 { font-size: 16px; letter-spacing: 2px; }

	.dist-beneficios-left h2 { font-size: 22px; letter-spacing: 4px; margin-bottom: 30px; padding: 30px 45px; padding-right: 10px; }

	.dist-requisitos-left h2 { font-size: 22px; letter-spacing: 4px; margin-bottom: 30px; padding: 20px 25px; padding-right: 10px; }
	.dist-requisitos-left ul { margin-bottom: 40px; padding-left: 15px; padding-bottom: 10px; }

	.mapa-desc p { padding-left: 30px; }

	footer a p.call-to-newsletter { font-size: 16px; float: none;
	background-image: none;
	background: #FFF;
	color: #4d5d8e;
	line-height: 1;
	padding-right: 0;
	text-decoration: none;
	text-align: center; }
}